langchain<1.0.0
langchain-community<1.0.0
langchain-openai<1.0.0
langchain-anthropic<1.0.0
langchain-core<1.0.0
langchain-text-splitters<1.0.0
python-dotenv
pydantic
tavily-python
langchain-tavily
fastapi
uvicorn
